<h2>Home Page - Festivals App </h2>
<br>


<%= link_to 'Bands', bands_path %><br>
<%= link_to 'Concerts', concerts_path %><br>
<%= link_to 'Festivals', festivals_path %><br>
<%= link_to 'Locations', locations_path %><br>
<%= link_to 'Tickets', tickets_path %><br>
<%= link_to 'Users', people_path %><br>
